//Enlève le margin-top étrange, ajouté par Wordpress. 
html {
  margin-top: 0 !important;
}

//Logo
.logo{
    max-width: 190px;
}

//Bannière
.banniere img{
    width: 100%;
    height: auto;
}

//Entête
.entete_titre{
    text-align: center;
    margin-bottom: -0.5em;
}

//Slogan
.entete_slogan{
    display: grid;
    grid-template-rows: auto;
}

.entete_slogan figure{
    margin: 0;
}

.entete_slogan div{
    margin-top: 1em;
    padding: 1em;
    background-color: #CEE4FB;
}

@media (min-width: 600px){
    .entete_slogan div{
        margin-top: 0em;
        margin-left: 1em;
    }
}

//À propos
.a_propos{
    display: grid;
    grid-template-rows: auto;
}

@media (min-width: 600px){
    .a_propos{
        margin-right: 4em;
    }
}

.a_propos figure{
    max-width: 400px;
    min-width: 200px;
}

.a_propos div{
    background-image:url(../images/zoneTexte.png);
    background-size: 100% 100%;
    margin-top: 2em;
}

.a_propos div p{
    padding: 1em;
}

//Ligne
.ligne{
    margin-top: 4em;
}

//Général pour les sections
.nouvelles{
    margin-top: 5em;
    background-image: url(../images/background.png);
    background-size: 110% 100%;
    padding: 0.5em 4em 7em 4em;
}

.section__titre{
    text-align: center;
    margin: 1em auto;
}

.section__titre h2{
    margin-bottom: -1em;
}

//Général de la section volet
.volets{
   padding: 0.5em 2em 7em 0; 
}

//Volets information
.volets__info{
    margin-top: 1em;
}

@media (min-width: 1000px){
    .volets__info{
        display: flex;
        gap: 2em;
        flex-direction: row;
        margin-top: 1em;
        padding: 1em 0 0 4em;
    }
}

.volets__image{
    width: 100%;
    padding-left: 1em;
    
}

@media (min-width: 1000px){
    .volets__image{
        width: 60%;
        height: auto;
        margin-top: -3em;
    }
}

.volets__info p{
    background-color: #F7DE99;
    padding: 2em;
    height: fit-content;
}

//Liens volets
.volets__liens{
    margin-top: -1em;
}

@media (min-width: 1000px){
    .volets__liens{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    padding: 0 1em 1em 0;
}
}

.volets__liens__liste{
    width: fit-content;
    margin: 0 auto;
    width: 100%;
    text-align: end;
    list-style-type: none;
}

.volets__liens__liste h3 a{
    color: black;
    text-decoration: none;
    padding: 0 1em 1em 1em;
}

.volets__liens__liste li{
    border-radius: 50px;
}

.volets__liens__liste li:nth-child(1){
    background-color: #F7DE99;
}

.volets__liens__liste li:nth-child(2){
    background-color: #D6AB80;
}

.volets__liens__liste li:nth-child(3){
    background-color: #5E7390;
    color: white;
}

.volets__liens__liste li:nth-child(4){
    background-color: #CEE4FB;
}

.volets__liens_image{
    width: 0%;
}

@media (min-width: 1000px){
    .volets__liens_image{
        height: auto;
        width: 100%;
    }
}

.fil_ariane{
  margin-left: 1em;
}

@media (min-width: 600px){
    .fil_ariane{
        margin-left: 4em;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}

.fil_ariane li{
    list-style: none;
}

.fil_ariane li a{
    text-decoration: none;
    color: black;
}

h3 a{
    color: black;
}