
.container-articles {
        grid-template-columns: 1fr;
    
    }

@media (min-width: 600px) {
.container-articles {
     display: grid; 
     grid-template-columns: repeat(2, 1fr); 
     gap: 40px; 
    }

    /* LIGNE SOUS TITRE */
.article_titre::after {
    content: "";
    display: block;
    height: 1px;
    background: #000000;
    margin-top: 15px;
}
}

/* LIEN */
.article__lien {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
}
.article__lien:hover{
font-weight: bold;    
}


.article__lien::after {
    content: " →";
    margin-left: 8px;
}

.page-header{
    text-align: center;
       background-image: url(../images/Entete-Nouvelles.png);
    background-size: 100% 100%;
}

.article__entete{
           background-image: url(../images/Entete-Nouvelles.png);   
        text-align: center;
        background-size: 100% 100%;
}

.article__imageUne{
    text-align: center;
}


