
.container-articles {
        grid-template-columns: 1fr;
    
    }

@media (min-width: 600px) {
.container-articles {
     display: grid; 
     grid-template-columns: repeat(2, 1fr); 
     gap: 40px; 
    }

    /* LIGNE SOUS TITRE */
.article_titre::after {
    content: "";
    display: block;
    height: 1px;
    background: #000000;
    margin-top: 15px;
}
}


.article__padding{
    padding: 0em 4em 0em 4em;
}


/* LIEN */
.article__lien {
    display: inline-block;
    margin-top: 1em;
    text-decoration: underline;
    color:#000000;
    
}
.article__lien:hover{
font-weight: bold;    
}


// NOUVELLES

.page-header{
    text-align: center;
       background-image: url(../images/Entete-Nouvelles.png);
    background-size: 100% 100%;
}

.article__entete{
           background-image: url(../images/Entete-Nouvelles.png);   
        text-align: center;
        background-size: 100% 100%;
}

.article__imageUne{
    text-align: center;
}

.article__date--div{
background-image: url(../images/Ellipse_dateArticle.png); 
  background-repeat: no-repeat;
    background-size: 15% 100%;
}
.article__date{
    padding-left: 25px !important;
    color: white;
    padding:1rem;
}


.article__piedPage{
    padding-bottom: 1rem;
}

